body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px 10px;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2 {
    margin: 0 0 10px 0;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
